.App {
  text-align: center;
}

.App-logo {
  width: 50%;
  max-width: 1000px;
  pointer-events: none;
}



.App-header {
  /* background-color: #eee; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(87, 87, 87);
  margin-top: -6vmin;
}

.content {
  max-width: 800px;
}

.App-link {
  color: #FF338E;
  text-decoration: none;
}

.privacy {
  font-size: 12px;
}

.hidden {
  opacity: 0;
}

.hotText {
  position: relative;
}
a.button {
  background: #ff70b2;
  color: white;
  border-radius: 6px;
  padding: 4px 8px;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0.7em;
  position: relative;
}
img.hoverHearts {
  position: absolute;
  width: calc(100% + 1.2em);
  top: 0.1em;
  left: -0.6em;
  transition: 500ms opacity ease;
  opacity: 0;
}
a.button:hover img.hoverHearts,
.hotText:hover img.hoverHearts {
  opacity: 1;
}

